*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	background-image: url(img/intro.png);
	background-size:100%;
	background-repeat: no-repeat;
}

.tout{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: flex-end;
	width: auto;
	height: 750px;
	border: solid 2px yellow;
}

.titre{
	width: 276px;
	height: 46px;
	border:solid 2px green;
}

.nom{
	border: solid 2px blue;
}

.blanc{
	color: #ffff;
}

.moi{
	color: #ca141a;
}

.direction{

	color: #ffff;
	height: 120px;
	width: 120px;
	background-image: url(img/boutonIntro.png);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	border: solid 2px red;
}

ul li {
	list-style: none;
}


ul li a{
	text-decoration: none;
	color: #ffff;
}

.direction a{

}




#footer{
	align-self: center;
	border:solid 2px  white;
}

.test{
	width: 550px;
	height:25px;
}