*{
	margin: 0;
	padding: 0;
	font-family: New Tegomin, sans-serif;	
}

body{
	background-image: url(img/fond.jpg);
	background-size:100%;
	background-repeat: no-repeat;
}


.menu {
	display: flex;
 	flex-direction: row;
 	margin-top: 25px;
 	align-items: center;
	border: solid 2px yellow;
}

.nom{
	width: 150px;
	display: flex;
	margin-left: 70px;
	border:solid 2px white;
}

.nom a{
	color: #ffff;
	font-size: 20pt;
	text-decoration: none;
}

.items{
	margin-left: auto;
	padding-right: 70px;
}

.items a{
	color: #faa819;
	font-size: 13.5pt;
	text-decoration: none;	
}

.items a:hover{
	color:#ffff;
}


.items nav li{
	margin-left: 55px;
}


.items nav ul li{
	display: inline-block;
	list-style: none;
}


