*{
	margin: 0;
	padding: 0;
	font-family: New Tegomin, sans-serif;	
}

body{
	background-image: url(img/fond3.jpg)  ;
	background-size: cover;
	background-repeat: no-repeat;
	/*background-repeat: no-repeat;*/
	background-color: #09050f;
	max-height: auto;
}


.menu {
	display: flex;
 	flex-direction: row;
 	margin-top: 25px;
 	align-items: center;
	/*border: solid 2px yellow;*/
}

.nom{
	width: 150px;
	margin-left: 110px;
}

.nom a{
	color: #ffff;
	font-size: 18pt;
	text-decoration: none;
}

.nom a:hover{
	color: #f48320;
}

.items nav{

}

.items a{
	color: #f48320;
	font-size: 13.5pt;
	text-decoration: none;	
}

.items a:hover{
	color:#c9161b;
}


.items nav li{
	margin-left: 55px;
}


.items nav ul li{
	display: inline-block;
	list-style: none;
}

.content{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 105px;
	max-height: 1700px;
	/*border:solid 2px green;*/
}

.c1{
	width: 350px;
	height: 350px;
	/*border: solid 2px purple;*/
}

.fill{
	width: 350px;
	height: 350px;
	object-fit: contain;
}


.c4{
	width: 350px;
	height: 350px;
	/*border: solid 2px purple;*/
}

.synopsis{
	width: 450px;
	height: 350px;
	/*border: solid 2px purple;*/
}

.logo1{
	width: 80px;
	height: 80px;
	margin: auto;
}

.logo{
	width: 80px;
	height: 80px;
	object-fit: contain;
}



.synopsis h1{
	padding-top: 5px;
	color: #ce0f15;
	font-size: 16pt;
}

.synopsis p{
	padding-top: 15px;
	font-size: 11pt;
	color: #f48320;
}



.footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 120px;
	/*border:solid 2px white;*/
}

.footer p{
	color: #f48320;
	font-size: 8pt;
}


.footer nav ul {
	margin-left: 150px;
}


.footer nav li{
	margin-left: 0px;
}


.footer nav ul li{
	display: inline-block;
	list-style: none;
}

@media only screen and (max-width:1000px){


	body{
		background-image: url(img/fond3.jpg)  ;
		background-size: 120%;
		background-repeat: no-repeat;
		/*background-repeat: no-repeat;*/
		background-color: #09050f;
	}
	

	.menu {
		display: flex;
 		flex-direction: column;
 		justify-content: center;
 		margin-top: 55px;
 		align-items: center;
		/*border: solid 2px yellow;*/
	}	

	.nom{
		width: 250px;
	}

	.nom a{
		font-size: 25pt;
	}

	.items{
		
		border:solid 2px red;

	}

	.items nav li{
		margin-top: 50px;
		height: 70px;
		border:solid 2px red;
	}


	.content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 105px;
		max-height: 1400px;
		border:solid 2px green;
	}


	.c1{
		flex: 1;
		order: 1;
		margin-top: 10px;
		width: 450px;
		height: 450px;
	}

	.c4{
		order: 3;
		margin-top: 10px;
		width: 450px;
		height: 450px;
	}

	.fill{
		width: 450px;
		height: 450px;
		object-fit: contain;
	}

	.synopsis{
		order: 2;
		width: 450px;
		height: 250px;
}

	.synopsis h1{
		padding-top: 5px;
		text-align: center;
		color: #ce0f15;
		font-size: 16pt;
	}

	.synopsis p{
		text-align: center;
	}



}