*{
	margin: 0;
	padding: 0;
	font-family: New Tegomin, sans-serif;	
}


body{
	display: flex;
	background-image: url(img/fond.jpg);
	background-size:100%;
	background-repeat: no-repeat;
}

header{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	width: 1920px;
	height: 150px;
	margin: 25px 0px 0px 65px;
	border:solid 2px red;
}

.moi{
	display: flex;
	justify-content: flex-start;
	color: #ffff;
	font-size: 22pt;
	border:solid white 2px;
}


.navbar{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border: 1px red solid;
}

nav{
	
}

ul{
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 80px;
}

nav ul li a{
	text-decoration: none;
	color:#faa819;
	font-size: 19px;
}

nav ul li a:hover{
	color: #ffff;
	font-size: 19px;
}


.video{
	display: flex;
	flex-direction: row;
	justify-content:center;
	width: 500px;
	height: 500px;
	border:solid 2px yellow;
}