*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	display: flex;
	background-image: url(img/fond.jpg);
	background-size:100%;
	background-repeat: no-repeat;
}

.tout{
	width: 100%;
	
	box-sizing: border-box;
	overflow: hidden;
	border: 2px green solid; 
}

.navbar{
	width: 100%;
	margin-top: 50px;
	display: flex;
	align-items: center;
	/*border: 1px red solid;*/
}

nav{
	flex: 1;
	justify-content: space-around;
	text-align: right;	
}

ul{
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 80px;
}

nav ul li a{
	text-decoration: none;
	color:#faa819;
	font-size: 19px;
}

nav ul li a:hover{
	color: #9c1c1f;
}

.row{
	display: flex;
	justify-content: space-around;
	height: 500px;
	margin-left: 105px;
	margin-right: 105px;
	margin-top: 60px;
	border:red 1px solid;
}

.video-container{
	flex:1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	/*background-image: url(img/cadre-video.png);*/
}
.video { 
 width: 80%;
 margin: auto;
 overflow: hidden;
 padding-bottom: 36.25%;
 position: relative;
 height: 0; 
}

.video iframe {
left: 0;
top: 0;
height: 100%;
width: 100%;
overflow: hidden;
position: absolute;
}

.container2{
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color:#faa819;
	height:500px;
    overflow:scroll;
    overflow-x:hidden;
}


#rev{
	width: 450px;
	height: 250px;
	margin-top: 70px;
}

.titre{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
    max-height: 80%;
}

#acceuil{
	width: 400px;
	height: 250px;
	text-align: center;
	margin-top: 20px;
	margin-bottom:150px;
	
}

#synopsis{
	width: 400px;
	height: 250px;
	text-align: center;
	margin:15px;
	margin-bottom:50px;
	
}

#galerie{
	width: 650px;
	height: 350px;
	margin:15px;
	
}

.revelation1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
    max-height: 100%;
}

#footer{
	width: auto;
	margin-top: 40px;
}
.test{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
    max-height: 50%;
}

@media only screen and (max-width: 700px){

}