*{
	margin: 0;
	padding: 0;
	font-family: New Tegomin, sans-serif;	
}

body{
	background-image: url(img/intro.png);
	background-size:100%;
	background-repeat: no-repeat;
	background-color: #120a1e;
}

header{
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	margin-left: 50px;
}

.titre{
	width: 276px;
	height: 46px;
	margin-top: 30px;
	/*border:solid 2px green;*/
}

.nom{
	width: 276px;
	margin-top: 15px;
	margin-left: 3px;
	/*border: solid 2px blue;*/
}

.blanc{
	color: #ffff;
}

.moi{
	font-size: 16pt;
	color: #ca141a;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: auto;
	height: 500px;
	/*border:solid 2px green;*/
	/*background-image: url(img/luti2.png);
	background-size: 100%;
	background-repeat: no-repeat;*/
}

.luti{
	
	width: auto;
	height: auto;
	/*border:solid 2px yellow;*/
}


.direction{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #ffff;
	height: 120px;
	width: 120px;
	background-image: url(img/boutonIntro2.png);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	/*border: solid 2px red;*/
}

.direction ul {
	display: flex;
	align-items: center;
	list-style: none;
	text-align: center;
}


.direction ul li a{
	display: flex;
	justify-content: flex-end;
	text-decoration: none;
	text-align: center;
	color: #ffff;
}

.direction a{
	font-size: 15pt;
	text-align: center;
}

.txt{
	margin-top: 15px;
}
.bl{
	color: #ffff;
	font-size: 12pt;
}

footer{
	height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/*border: solid 2px red;*/
	/*border:solid 2px green;*/
}

.footer nav ul li{

	list-style: none;
}

.footer nav ul li a{
	text-decoration: none;
}

nav ul{
	display:flex;
	justify-content: center;	
}

nav li{
	/*border:solid 2px  yellow;*/
	width: 55px;
	height: 55px;
	margin-left: 15px;
}

nav li a{
	
}



.test{
	width: 550px;
	height:25px;
}


@media only screen and (max-width:1000px){

	body{
		background-position: center;
		background-size: 120%;
	}

	header{
		margin-top: 50px;
	}

	.titre{
		height: 69px;
		width: 414px;
	}

	.blanc{
		font-size: 25pt;
		width: 400px;

	}
	.moi{
		font-size: 35pt;
		width: 400px;
	}
	.container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: auto;
		height:1250px;
		background-position: center;
		background-size: 100%;
		/*border: solid 2px blue;*/
	}

	.direction{
		margin-top: 620px;
		height: 200px;
		width: 200px;
	}

	.direction a{
		font-size: 25pt;
	}

	.text{
		padding-top: 100px;
	}

	.text p{
		display: flex;
		align-items: center;

	}

	.bl{
		width: 550px;
		font-size: 24pt;
		text-align: center;
	}

	footer{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-top: 40px;
		height: 80px;
	}

	.footer{
		/*border:solid 2px green;*/
	}

	nav li{
	/*border:solid 2px  yellow;*/
		width: 75px;
		height: 75px;
		margin-left: 35px;
	}

	.button1{
		height: 75px;
		width: 75px;
	}

}




/*	body{
		background-position: center 400px;
	}
	.container{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		width: auto;
		height: 600px;
		border: solid 2px yellow;
	}



	footer{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

	}

	.footer{
		border:solid 2px green;
	}

	nav ul{
		display:flex;
		justify-content: center;	
	}

	nav li{
		border:solid 2px  yellow;
		width: 35px;
		height: 35px;
		margin-left: 5px;
	}
}*/