*{
	margin: 0;
	padding: 0;
	font-family: New Tegomin, sans-serif;	
}

body{
	background-image: url(img/fond2.jpg)  ;
	background-size: cover;
	background-repeat: no-repeat;
	/*background-repeat: no-repeat;*/
	background-color: #110a1c;
}


.menu {
	display: flex;
 	flex-direction: row;
 	margin-top: 25px;
 	align-items: center;
	/*border: solid 2px yellow;*/
}

.nom{
	width: 150px;
	margin-left: 110px;

}

.nom a{
	color: #ffff;
	font-size: 20pt;
	text-decoration: none;
}

.items{
	margin-left: auto;
	padding-right: 70px;
}

.items a{
	color: #faa819;
	font-size: 13.5pt;
	text-decoration: none;	
}

.items a:hover{
	color:#c9161b;
}


.items nav li{
	margin-left: 55px;
}


.items nav ul li{
	display: inline-block;
	list-style: none;
}

.content{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 105px;
	max-height: 1000px;
	border:solid 2px green;
}

.c1{
	width: 350px;
	height: 350px;
	border: solid 2px purple;
}

.fill{
	width: 350px;
	height: 350px;
	object-fit: contain;
}


.c4{
	width: 350px;
	height: 350px;
	border: solid 2px purple;
}

.synopsis{
	width: 450px;
	height: 350px;
	border: solid 2px purple;
}

.logo1{
	width: 80px;
	height: 80px;
	margin: auto;
	
}

.logo{
	width: 80px;
	height: 80px;
	object-fit: contain;
	

}



.synopsis h1{
	padding-top: 25px;
	color: #ce0f15;
	font-size: 15pt;
}

.synopsis p{
	padding-top: 15px;
	font-size: 12pt;
	color: #ffff;
}



.footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 110px;
	border:solid 2px white;
}

.footer p{
	color: #f48320;
	font-size: 9pt;
}

.footer nav li{
	margin-left: 25px;
}


.footer nav ul li{
	display: inline-block;
	list-style: none;
}